name: Python QA Checks
# Python checks (usually tox matrix) to ensure code quality for PRs and merging
# Runs on pull requests

on: pull_request

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            python:
              - '**.py'
              - 'tox.ini'

      - name: Setup Python
        uses: actions/setup-python@v5
        if: steps.filter.outputs.python == 'true'
        with:
          python-version: "3.13"

      - name: Install Dependencies
        if: steps.filter.outputs.python == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run Tox Linting
        if: steps.filter.outputs.python == 'true'
        run: tox
        env:
          TOXENV: lint

  unittest:
    name: Unit Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toxenv:
          - py313-unittest
        include:
          - toxenv: py313-unittest
            python-version: "3.13"

    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            python:
              - '**.py'
              - 'tox.ini'

      - name: Set up Python
        uses: actions/setup-python@v5
        if: steps.filter.outputs.python == 'true'
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Install Tox
        if: steps.filter.outputs.python == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run Tox
        if: steps.filter.outputs.python == 'true'
        run: |
          tox -e ${{ matrix.toxenv }}

      - name: Store Test Coverage
        if: steps.filter.outputs.python == 'true' && matrix.toxenv == 'py313-unittest'
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            ./.coverage
            ./coverage.xml

  coverage:
    runs-on: ubuntu-latest
    name: Coverage
    needs:
      - unittest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            python:
              - '**.py'
              - 'tox.ini'

      - name: Setup Python
        uses: actions/setup-python@v5
        if: steps.filter.outputs.python == 'true'
        with:
          python-version: "3.13"

      - name: Install Coverage & diff_cover
        if: steps.filter.outputs.python == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install coverage diff_cover

      - name: Retrieve Coverage Results
        if: steps.filter.outputs.python == 'true'
        uses: actions/download-artifact@v4
        with:
          name: coverage

      - name: Overall Coverage
        if: steps.filter.outputs.python == 'true'
        run: |
          coverage report

      - name: Coverage Diff
        if: steps.filter.outputs.python == 'true'
        run: |
          diff-cover coverage.xml --compare-branch=origin/main || true
